; local values for sip configuration
; for virtualbox

[general](+)
; if behind firewall with DNS name, externhost
;externhost=
; if behind firewwall without DNS name, externip
externip=
; if vagrant virtualbox, standardized localnet
localnet=
nat=
