# blocklist: list of dicts of attributes to match to block a call.
# A. Hansen's mother
- number: {{blocklist_yaml_1}}
  extension: 668
# phone abusers
- number: {{blocklist_yaml_2}}
  extension: 668
- number: {{blocklist_yaml_3}}
  extension: 668
- number: {{blocklist_yaml_4}}
  extension: 668
# phone abusers 2016-08-07
- number: {{blocklist_yaml_5}}
  extension: 668
