# blocklist: list of dicts of attributes to match to block a call.
# A. Hansen's mother
- number: {{blocklist_yaml_1}}
  extension: 668
# phone abusers
- number: {{blocklist_yaml_2}}
  extension: 668
- number: {{blocklist_yaml_3}}
  extension: 668
- number: {{blocklist_yaml_4}}
  extension: 668
# phone abusers 2016-08-07
- number: {{blocklist_yaml_5}}
  extension: 668
# phone abusers 2017-01-24
- number: {{blocklist_yaml_6}}
  extension: 668
- number: {{blocklist_yaml_7}}
  extension: 668
# phone abusers 2017-02-09
- number: {{blocklist_yaml_8}}
  extension: 668
- number: {{blocklist_yaml_9}}
  extension: 668
- number: {{blocklist_yaml_10}}
  extension: 668
- number: {{blocklist_yaml_11}}
  extension: 668
- number: {{blocklist_yaml_12}}
  extension: 668
