[globals](+)
karl_cell={{extensions_secret_conf_karl_cell}}
elijah_cell={{extensions_secret_conf_elijah_cell}}
xnor_cell={{extensions_secret_conf_xnor_cell}}
brandon={{extensions_secret_conf_brandon}}
mathew={{extensions_secret_conf_mathew}}
alma_frankenstein={{extensions_secret_conf_alma_frankenstein}}
will_caruana={{extensions_secret_conf_will_caruana}}
michelle_kline={{extensions_secret_conf_michelle_kline}}
mykle_cell={{extensions_secret_conf_mykle_cell}}
emily_wilson={{extensions_secret_conf_emily_wilson}}
jesse_cell={{extensions_secret_conf_jesse_cell}}
jakob_vanlammeren={{extensions_secret_conf_jakob_vanlammeren}}
e_pants={{extensions_secret_conf_e_pants}}
admin_password={{extensions_secret_conf_admin_password}}
member_password={{extensions_secret_conf_member_password}}
