[globals](+)
karl_cell={{extensions_secret_conf_karl_cell}}
elijah_cell={{extensions_secret_conf_elijah_cell}}
xnor_cell={{extensions_secret_conf_xnor_cell}}
brandon={{extensions_secret_conf_brandon}}
mathew={{extensions_secret_conf_mathew}}
alma_frankenstein={{extensions_secret_conf_alma_frankenstein}}
james_downey={{extensions_secret_conf_james_downey}}
will_caruana={{extensions_secret_conf_will_caruana}}
e_pants={{extensions_secret_conf_e_pants}}
admin_password={{extensions_secret_conf_admin_password}}
member_password={{extensions_secret_conf_member_password}}
