[500-auth](+)
password={{sip_secret_conf_twilio_pv}}

[505-auth](+)
password={{sip_secret_conf_twilio_pv}}

[510-auth](+)
password={{sip_secret_conf_twilio_pv}}

[515-auth](+)
password={{sip_secret_conf_twilio_pv}}

[520-auth](+)
password={{sip_secret_conf_twilio_pv}}

[521-auth](+)
password={{sip_secret_conf_twilio_pv}}

[535-auth](+)
password={{sip_secret_conf_twilio_pv}}

[540-auth](+)
password={{sip_secret_conf_twilio_pv}}

[615-auth](+)
password={{sip_secret_conf_robotron}}

[620-auth](+)
password={{sip_secret_conf_souwester}}

[625-auth](+)
password={{sip_secret_conf_upright}}

[630-auth](+)
password={{sip_secret_conf_ypsibell}}

[640-auth](+)
password={{sip_secret_conf_alley27}}

[655-auth](+)
password={{sip_secret_conf_taylor}}

[670-auth](+)
password={{sip_secret_conf_r2d2}}

[680-auth](+)
password={{sip_secret_conf_ainsworth}}

[690-auth](+)
password={{sip_secret_conf_detroitbusco}}

[695-auth](+)
password={{sip_secret_conf_eighth}}

[700-auth](+)
password={{sip_secret_conf_twilio_pv}}
