; 610-614: crossclinton
; 610: crossclinton indoors
[610](+)
secret={{sip_secret_conf_crossclinton}}
[611](+)
secret={{sip_secret_conf_crossclinton}}

[615](+)
secret={{sip_secret_conf_robotron}}
[616](+)
secret={{sip_secret_conf_robotron}}

[620](+)
secret={{sip_secret_conf_souwester}}
[621](+)
secret={{sip_secret_conf_souwester}}

[625](+)
secret={{sip_secret_conf_upright}}
[626](+)
secret={{sip_secret_conf_upright}}

; 630-634: ypsibell
[630](+)
secret={{sip_secret_conf_ypsibell}}
[631](+)
secret={{sip_secret_conf_ypsibell}}

[635](+)
secret={{sip_secret_conf_hazelnut}}
[636](+)
secret={{sip_secret_conf_hazelnut}}

[640](+)
secret={{sip_secret_conf_mykle}}
[641](+)
secret={{sip_secret_conf_mykle}}
[645](+)
secret={{sip_secret_conf_paz}}
[646](+)
secret={{sip_secret_conf_paz}}
[650](+)
secret={{sip_secret_conf_iprc}}
[651](+)
secret={{sip_secret_conf_iprc}}
[655](+)
secret={{sip_secret_conf_taylor}}
[656](+)
secret={{sip_secret_conf_taylor}}
[665](+)
secret={{sip_secret_conf_oskar}}
[666](+)
secret={{sip_secret_conf_oskar}}
[667](+)
secret={{sip_secret_conf_oskar}}
[668](+)
secret={{sip_secret_conf_oskar}}
[669](+)
secret={{sip_secret_conf_oskar}}
[670](+)
secret={{sip_secret_conf_r2d2}}
[671](+)
secret={{sip_secret_conf_r2d2}}
[675](+)
secret={{sip_secret_conf_debbie}}
[676](+)
secret={{sip_secret_conf_debbie}}
[680](+)
secret={{sip_secret_conf_xnor}}
[681](+)
secret={{sip_secret_conf_xnor}}
[685](+)
secret={{sip_secret_conf_astoriaarc}}
[686](+)
secret={{sip_secret_conf_astoriaarc}}
[690](+)
secret={{sip_secret_conf_detroitbusco}}
[691](+)
secret={{sip_secret_conf_detroitbusco}}
[700](+)
secret={{sip_secret_conf_demo}}
[701](+)
secret={{sip_secret_conf_demo}}
[702](+)
secret={{sip_secret_conf_demo}}
[703](+)
secret={{sip_secret_conf_demo}}
[704](+)
secret={{sip_secret_conf_demo}}
[710](+)
secret={{sip_secret_conf_tishbite}}
[711](+)
secret={{sip_secret_conf_tishbite}}
