; 610-614: crossclinton
; 610: crossclinton indoors
[610](+)
secret={{sip_secret_conf_crossclinton}}
[611](+)
secret={{sip_secret_conf_crossclinton}}

[615](+)
secret={{sip_secret_conf_pyramidfoo}}
[616](+)
secret={{sip_secret_conf_pyramidfoo}}

[620](+)
secret={{sip_secret_conf_pyramidbar}}
[621](+)
secret={{sip_secret_conf_pyramidbar}}

[625](+)
secret={{sip_secret_conf_upright}}
[626](+)
secret={{sip_secret_conf_upright}}

; 630-634: ypsibell
[630](+)
secret={{sip_secret_conf_ypsibell}}
[631](+)
secret={{sip_secret_conf_ypsibell}}

[635](+)
secret={{sip_secret_conf_hazelnut}}
[636](+)
secret={{sip_secret_conf_hazelnut}}

; 640-644: mykle
; 650: mykle alley
[640](+)
secret={{sip_secret_conf_mykle}}
[641](+)
secret={{sip_secret_conf_mykle}}
; 650-654: iprc
; 650: iprc lobby
[650](+)
secret={{sip_secret_conf_iprc}}
[651](+)
secret={{sip_secret_conf_iprc}}
; 655-656: garth
[655](+)
secret={{sip_secret_conf_taylor}}
[656](+)
secret={{sip_secret_conf_taylor}}
; 665-669: oskar
[665](+)
secret={{sip_secret_conf_oskar}}
[666](+)
secret={{sip_secret_conf_oskar}}
; 667: oskar indoors
[667](+)
secret={{sip_secret_conf_oskar}}
; 668: oskar curbside
[668](+)
secret={{sip_secret_conf_oskar}}
; 669: oskar test
[669](+)
secret={{sip_secret_conf_oskar}}
; 670-674: r2d2
; 670: r2d2 desk
[670](+)
secret={{sip_secret_conf_r2d2}}
[671](+)
secret={{sip_secret_conf_r2d2}}
; 680-684: alex's house
[680](+)
secret={{sip_secret_conf_xnor}}
[681](+)
secret={{sip_secret_conf_xnor}}
; 690-694: rob
[690](+)
secret={{sip_secret_conf_rob}}
[691](+)
secret={{sip_secret_conf_rob}}
; 700-704: demo and test phones
[700](+)
secret={{sip_secret_conf_demo}}
[701](+)
secret={{sip_secret_conf_demo}}
[702](+)
secret={{sip_secret_conf_demo}}
[703](+)
secret={{sip_secret_conf_demo}}
[704](+)
secret={{sip_secret_conf_demo}}
; 710-714: tishbite's phones
[710](+)
secret={{sip_secret_conf_tishbite}}
[711](+)
secret={{sip_secret_conf_tishbite}}
