[general](+)
register => {{callcentric_user}}:{{callcentric_secret}}@callcentric.com ; r2d2 ext 102
register => {{voipms_user}}:{{voipms_secret}}@sanjose.voip.ms:5060 ; kra@monkey.org voip.ms
[callcentric-r2d2](+)
defaultuser={{callcentric_user}}
fromuser={{callcentric_user}}
secret={{callcentric_secret}}
[voipms](+)
defaultuser={{voipms_user}}
; not sure we want this, but voip.ms docs it
fromuser={{voipms_user}}
secret={{voipms_secret}}
[twilio-termination](+)
defaultuser={{twilio_user}}
remotesecret={{twilio_secret}}
[twilio-pv-termination](twilio-trunk)
remotesecret={{twilio_pv_password}}
