# asterisk manager credentials
asterisk_ip = "0.0.0.0"
asterisk_user = "futel"
asterisk_passwd = "{{eventlistener_conf_asterisk_passwd}}"
# aws credentials
aws_arn = '{{eventlistener_conf_aws_arn}}'
aws_access_key_id = '{{eventlistener_conf_aws_access_key_id}}'
aws_secret_access_key = '{{eventlistener_conf_aws_secret_access_key}}'
