[400-auth](+)
password={{sip_secret_conf_maple}}
[401-auth](+)
password={{sip_secret_conf_maple}}
[402-auth](+)
password={{sip_secret_conf_maple}}
[403-auth](+)
password={{sip_secret_conf_maple}}

[405-auth](+)
password={{sip_secret_conf_saratoga}}

[410-auth](+)
password={{sip_secret_conf_central}}

[415-auth](+)
password={{sip_secret_conf_breckenridge}}
[416-auth](+)
password={{sip_secret_conf_breckenridge}}

[445-auth](+)
password={{sip_secret_conf_microcosm}}

[615-auth](+)
password={{sip_secret_conf_robotron}}

[620-auth](+)
password={{sip_secret_conf_souwester}}

[625-auth](+)
password={{sip_secret_conf_upright}}

[630-auth](+)
password={{sip_secret_conf_ypsibell}}

[640-auth](+)
password={{sip_secret_conf_alley27}}

[655-auth](+)
password={{sip_secret_conf_taylor}}

[680-auth](+)
password={{sip_secret_conf_ainsworth}}

[690-auth](+)
password={{sip_secret_conf_detroitbusco}}

[695-auth](+)
password={{sip_secret_conf_eighth}}

[700-auth](+)
password={{sip_secret_conf_demo}}

[701-auth](+)
password={{sip_secret_conf_demo}}

[702-auth](+)
password={{sip_secret_conf_demo}}

[703-auth](+)
password={{sip_secret_conf_demo}}

[704-auth](+)
password={{sip_secret_conf_demo}}

[705-auth](+)
password={{sip_secret_conf_demo}}

[706-auth](+)
password={{sip_secret_conf_demo}}

[707-auth](+)
password={{sip_secret_conf_demo}}

[708-auth](+)
password={{sip_secret_conf_demo}}

[709-auth](+)
password={{sip_secret_conf_demo}}

[710-auth](+)
password={{sip_secret_conf_demo}}

[711-auth](+)
password={{sip_secret_conf_demo}}

[712-auth](+)
password={{sip_secret_conf_demo}}

[713-auth](+)
password={{sip_secret_conf_demo}}

[714-auth](+)
password={{sip_secret_conf_demo}}

[715-auth](+)
password={{sip_secret_conf_demo}}

[716-auth](+)
password={{sip_secret_conf_demo}}

[717-auth](+)
password={{sip_secret_conf_demo}}

[718-auth](+)
password={{sip_secret_conf_demo}}

[719-auth](+)
password={{sip_secret_conf_demo}}

[720-auth](+)
password={{sip_secret_conf_demo}}

[721-auth](+)
password={{sip_secret_conf_demo}}

[722-auth](+)
password={{sip_secret_conf_demo}}

[723-auth](+)
password={{sip_secret_conf_demo}}

[724-auth](+)
password={{sip_secret_conf_demo}}

[725-auth](+)
password={{sip_secret_conf_demo}}

[726-auth](+)
password={{sip_secret_conf_demo}}

[727-auth](+)
password={{sip_secret_conf_demo}}

[728-auth](+)
password={{sip_secret_conf_demo}}

[729-auth](+)
password={{sip_secret_conf_demo}}

[730-auth](+)
password={{sip_secret_conf_demo}}

[731-auth](+)
password={{sip_secret_conf_demo}}

[732-auth](+)
password={{sip_secret_conf_demo}}

[733-auth](+)
password={{sip_secret_conf_demo}}

[734-auth](+)
password={{sip_secret_conf_demo}}

[735-auth](+)
password={{sip_secret_conf_demo}}
