[voipms](+)
from_user = {{voipms_user}}

[voipms-registration](+)
client_uri = sip:{{voipms_user}}@sanjose.voip.ms:5060
server_uri = sip:sanjose.voip.ms:5060

[voipms-auth](+)
username = {{voipms_user}}
password = {{voipms_secret}}

[voipms-aor](+)
contact = sip:{{voipms_user}}@sanjose.voip.ms

[twilio-auth](+)
username = {{twilio_user}}
password = {{twilio_secret}}

[bulkvs-registration](+)
client_uri = sip:{{bulkvs_user}}@sip.bulkvs.com:5060

[bulkvs-auth](+)
username = {{bulkvs_user}}
password = {{bulkvs_password}}

[bulkvs-aors](+)
contact = sip:{{bulkvs_user}}@sip.bulkvs.com
