[400-auth](+)
password={{sip_secret_conf_maple}}
[401-auth](+)
password={{sip_secret_conf_maple}}
[402-auth](+)
password={{sip_secret_conf_maple}}
[403-auth](+)
password={{sip_secret_conf_maple}}

[405-auth](+)
password={{sip_secret_conf_saratoga}}

[410-auth](+)
password={{sip_secret_conf_central}}

[415-auth](+)
password={{sip_secret_conf_breckenridge}}
[416-auth](+)
password={{sip_secret_conf_breckenridge}}

[420-auth](+)
password={{sip_secret_conf_cesarchavez}}
[421-auth](+)
password={{sip_secret_conf_cesarchavez}}

[445-auth](+)
password={{sip_secret_conf_microcosm}}

[615-auth](+)
password={{sip_secret_conf_robotron}}

[620-auth](+)
password={{sip_secret_conf_souwester}}

[625-auth](+)
password={{sip_secret_conf_upright}}

[630-auth](+)
password={{sip_secret_conf_ypsibell}}

[640-auth](+)
password={{sip_secret_conf_alley27}}

[655-auth](+)
password={{sip_secret_conf_taylor}}

[670-auth](+)
password={{sip_secret_conf_r2d2}}

[680-auth](+)
password={{sip_secret_conf_ainsworth}}

[690-auth](+)
password={{sip_secret_conf_detroitbusco}}

[695-auth](+)
password={{sip_secret_conf_eighth}}

[700-auth](+)
password={{sip_secret_conf_demo}}

[701-auth](+)
password={{sip_secret_conf_demo}}

[702-auth](+)
password={{sip_secret_conf_demo}}

[703-auth](+)
password={{sip_secret_conf_demo}}

[704-auth](+)
password={{sip_secret_conf_demo}}

[710-auth](+)
password={{sip_secret_conf_portable}}

[711-auth](+)
password={{sip_secret_conf_portable}}
